# Ques 1: Create one variable containing following type of data:

(i) string

In [1]:
s = "Mridul"
type(s)

str

(ii) list

In [2]:
l = [3, 7, 0, 3, "Mridul", 7.167]
type(l)

list

(iii) float

In [1]:
f = 3.703
type(f)

float

(iv) tuple

In [ ]:
t =

# Ques 2: Given are some following variables containing data:

# What will be the data type of the above given variable.What will be the data type of the above given variable.

(i) var1 = ‘ ‘

In [2]:
var1 = ' ' 
type(var1)

str

(ii) var2 = ‘[ DS , ML , Python]’

In [3]:
var2 = '[ DS , ML , Python]'
type(var2)

str

(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]

In [4]:
var3 = [ 'DS' , 'ML' , 'Python' ]
type(var3)

list

(iv) var4 = 1.

In [5]:
var4 = 1
type(var4)

int

# Ques 3: Explain the use of the following operators using an example:

(i) / - It is used to perform simple division operations.

(ii) % - It is called modulus operator. It is used to calculate the remainder of two numbers.

(iii) // - It is called floor division operator. It is used to calculate quotient and return value in integer type.

(iv) ** - It is called exponential operator. It is used to calculate power of given base and power.

# Ques 4: Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

In [3]:
l1 = ["Mridul", 302, 3.96, "Mastiii", True, False, 3703, "Moj", 0.999999, "Jai Shree Ram|",]
for i in l1:
    print(i)
    print(type(i))

Mridul
<class 'str'>
302
<class 'int'>
3.96
<class 'float'>
Mastiii
<class 'str'>
True
<class 'bool'>
False
<class 'bool'>
3703
<class 'int'>
Moj
<class 'str'>
0.999999
<class 'float'>
Jai Shree Ram|
<class 'str'>

# Ques 6: Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

In [4]:
l2 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]
for i in l2:
    if i % 3 != 0:
        continue
    print(i)

3
6
9
12
15
18
21
24

# Ques 7: What do you understand about mutable and immutable data types? Give examples for both showing this property.

Mutable data type - When we change or modify some data from a set of data is called mutable data type. eg :- list.

Immuatable data type - When we cannot change or modify some data from a set of data is called immutable data type. eg :- string.